body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 5px;
  margin-left: 36px;
}
.fa-bars{
  margin-right: 5px;
  margin-top: 4px;
  font-size: 20px;
}
.Footer-line{
  margin-top: 10px;
 font-size: 11px;


 
  
}